
#-[BACKEND]--------------------------------

VECTOR_PROVIDER='ollama'
OLLAMA_MODEL='gemma3:1b'
OLLAMA_TEXT2VEC_MODEL='nomic-embed-text'
OLLAMA_BASE_URL='http://ollama:11434'
OLLAMA_LOCAL_URL='http://localhost:11434'
WEAVIATE_HOST='localhost'
WEAVIATE_PORT='8080'
WEAVIATE_GRPC_PORT='50051'
WEAVIATE_ANONYMOUS_ACCESS='true'
AGENT_LOG_LEVEL='INFO'

#-[FRONTEND]--------------------------------

VITE_BACKEND_URL='http://localhost:8000'
VITE_LOG_LEVEL='INFO'
